RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

# Allow access to PHP files directly
RewriteRule ^(reschedule_requests\.php)$ $1 [L]
